
.DS_Store

Client/FRCDetective/.vs/

Client/FRCDetective/FRCDetective.iOS/obj/iPhoneSimulator/Debug/

Client/FRCDetective/FRCDetective.Android/obj/Debug/

Client/FRCDetective/FRCDetective/obj/Debug/
